<!-- Content Row -->
<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Unités d'Enseignements</h6>
              <div class="dropdown no-arrow">
                <a name="" id="" class="btn btn-outline-primary" href="#" role="button">PLUS</a>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Code</th>
                  <th scope="col">Intitulé</th>
                  <th scope="col" colspan="3">Voir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ue of ues">
                  <th scope="row">{{ue.id}}</th>
                  <td>{{ue.code}}</td>
                  <td>{{ue.intitule}}</td>
                  <td>
                    <a name="" id="" class="btn btn-primary" href="#" role="button">Voir</a>
                  <td>
                    <a name="" id="" class="btn btn-warning" href="#" role="button">Modifier</a>
                  </td>
                  <td>
                    <a name="" id="" class="btn btn-danger" href="#" role="button">Supprimer</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</div>
