
<!-- Content Row -->
<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Éléments Constitutifs</h6>
              <div class="dropdown no-arrow">
                <a name="" id="" class="btn btn-outline-primary" href="#" role="button">PLUS</a>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Code</th>
                  <th scope="col">Intitule</th>
                  <th scope="col" colspan="3">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let emp of ecs">
                  <th scope="row">{{emp.id}}</th>
                  <td>{{emp.code}}</td>
                  <td>{{emp.intitule}}</td>
                  <td>
                    <button type="button" class="btn btn-primary">Voir</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-warning">Modifier</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger">Supprimer</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</div>
